<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sztu.check.mapper.LogMapper">
  <select id="getList" resultType="com.sztu.check.dto.resp.LogRespDTO">
    select * from log
    <where>
      <if test="businessType != '' and businessType != null">
        and business_type = #{businessType}
      </if>
    </where>
    order by create_time desc
  </select>
</mapper>